@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 94vh;
  overflow-y: auto;
}

.login {
  background: url("../src/assets/paw-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.drawer {
  transition: all 0.3s ease-in-out;
  grid-template-columns: 15rem 1fr;
}

.reset-grid-cols {
  grid-template-columns: 0rem 1fr;
  grid-auto-columns: auto;
}

.add-btn {
  position: absolute;
  top: 100px;
  right: 30px;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  animation: rotate 1.5s infinite linear;
}

@media (max-width: 960px) {
  .login {
    background: none;
  }
}

@media (max-width: 1023px) {
  .drawer {
    grid-template-columns: 0rem 1fr;
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
